<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About Page  </title>
   <style>
       *{
           text-align: center;
         
           background-color: rgb(186, 236, 139);
       }
   </style>
</head>
<body>
   <h1>Welcome to my website</h1>
   <h2> It's A About Page </h2>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis architecto iusto quaerat eum in sapiente iure. Ipsum fugit odit placeat cupiditate fuga veritatis enim suscipit voluptatem v 
       oluptatum aliquid, architecto dolorum excepturi dolor quia explicabo soluta libero adipisci rem recusandae dicta itaque quos sit quo? Nam debitis delectus dolorum minus eaque dolore, nobis dolor, facilis unde laudantium consequuntur ex in iste deleniti eius, quia fuga! Autem debitis enim fuga odio blanditiis, quisquam perspiciatis magni et nemo ducimus possimus at dolorum animi dolores suscipit deleniti repudiandae dolore ut. Expedita incidunt, culpa nulla molestiae amet facere aperiam eum totam architecto inventore doloribus error? Quo iste et dolor maxime, eum voluptates sit adipisci voluptate eveniet illo illum quae amet unde sint ab neque debitis?</p>
</body>
</html>